<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0"
    id="com.appname.app" android-packageName="com.appname.app" version="1.0.0" 
>
    <name>AppName</name>
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover"/>
    <description>App description</description>
    <author email="">Author/Organization name</author>
    <content src="index.html"/>
    <access origin="file://*"/>
    <allow-navigation href="file://*"/>
    <allow-intent href="file://*"/>
    <preference name="android-minSdkVersion" value="26"/>
    <!-- <preference name="android-targetSdkVersion" value=""/> -->
    <!-- <preference name="android-maxSdkVersion" value=""/> -->
    <preference name="BackgroundColor" value="#ffffff"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <!-- <icon src=""/> -->
    <platform name="android">
        <edit-config 
            file="app/src/main/AndroidManifest.xml"
            target="/manifest/application/activity[@android:name='MainActivity']"
            mode="merge"
        >
            <activity android:theme="@style/MainActivity"/>
        </edit-config>
        <resource-file src="src/Assets/Xml/MainActivity.xml" target="/app/src/main/res/values/MainActivity.xml"/>
        <resource-file src="src/Assets/Xml/LaunchScreen_0.xml" target="/app/src/main/res/drawable/launchscreen.xml"/>
    </platform>
    <platform name="ios">
        <preference name="UseSwiftLanguageVersion" value="5"/>
        <!-- <icon src="src/Assets/Icon/Icon_20.png" width="20"/>
        <icon src="src/Assets/Icon/Icon_29.png" width="29"/>
        <icon src="src/Assets/Icon/Icon_40.png" width="40"/>
        <icon src="src/Assets/Icon/Icon_48.png" width="48"/>
        <icon src="src/Assets/Icon/Icon_50.png" width="50"/>
        <icon src="src/Assets/Icon/Icon_55.png" width="55"/>
        <icon src="src/Assets/Icon/Icon_57.png" width="57"/>
        <icon src="src/Assets/Icon/Icon_58.png" width="58"/>
        <icon src="src/Assets/Icon/Icon_60.png" width="60"/>
        <icon src="src/Assets/Icon/Icon_72.png" width="72"/>
        <icon src="src/Assets/Icon/Icon_76.png" width="76"/>
        <icon src="src/Assets/Icon/Icon_80.png" width="80"/>
        <icon src="src/Assets/Icon/Icon_87.png" width="87"/>
        <icon src="src/Assets/Icon/Icon_88.png" width="88"/>
        <icon src="src/Assets/Icon/Icon_100.png" width="100"/>
        <icon src="src/Assets/Icon/Icon_114.png" width="114"/>
        <icon src="src/Assets/Icon/Icon_120.png" width="120"/>
        <icon src="src/Assets/Icon/Icon_144.png" width="144"/>
        <icon src="src/Assets/Icon/Icon_152.png" width="152"/>
        <icon src="src/Assets/Icon/Icon_167.png" width="167"/>
        <icon src="src/Assets/Icon/Icon_172.png" width="172"/>
        <icon src="src/Assets/Icon/Icon_180.png" width="180"/>
        <icon src="src/Assets/Icon/Icon_196.png" width="196"/> -->
    </platform>
</widget>
