:root{
    --mainFont:arial;
    --majorFont:arial;
    --minorFont:arial;
    --mainColor:black;
    --majorColor:black;
    --minorColor:black;
    --textColor:black;
    --accentColor:black;
    --backgroundColor:white;
}
*{
    margin:0;
    padding:0;
    outline:none transparent !important;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}
input:read-write,textarea:read-write,div[contenteditable]{
    user-select:text;
    -moz-user-select:text;
    -webkit-user-select:text;
    -ms-user-select:text;
}
html,body{
    height:100%;
    color:var(--textColor);
    overflow:hidden;
}
#webview{
    max-width:100vw;
    height:100vh;max-height:100vh;
    font-family:var(--mainFont);
    overflow:hidden;
}
