:root{
    --mainFont:arial;
    --majorFont:arial;
    --minorFont:arial;
    --mainColor:#e03065;
    --majorColor:#000000;
    --minorColor:#000000;
    --textColor:#000000;
    --accentColor:#000000;
    --backgroundColor:#ffffff;
}
*{
    margin:0;
    padding:0;
    outline:none transparent !important;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}
html,body{
    height:100svh;
    color:var(--textColor);
    overflow:hidden;
}
#webview{
    max-width:100svw;
    height:100%;max-height:100%;
    font-family:var(--mainFont);
    overflow:hidden;
}
input:read-write,textarea:read-write,div[contenteditable]{
    user-select:text;
    -moz-user-select:text;
    -webkit-user-select:text;
    -ms-user-select:text;
}
img{
    user-drag:none;
    -webkit-user-drag:none;
    -webkit-touch-callout:none;
}
